@media (max-width: 480px) {
  .footer-cont{
    &-copyright{
      width: 88%;
    }
    &-contacts{
      row-gap: 20px;
      & a, div{
        width: 88%;
        column-gap: 20px;
        & svg{
        }
        & p{
        }
      }
    }
  }
}

// ************ручная настройка
@media (max-width: 600px) {
  h1{
    font-size: 2.60em; //41.6
  }
}