@media (max-width : 1350px) {
  h1{
    font-size: 3.60em; //57.6
  }
}


@media (max-width : 1280px) {
  h1{
    font-size: 3.60em; //57.6
  }
  .benefit-team-number{
    font-size: 225px;
  }
}

@media (max-width : 1140px) {
  .benefit-team{
    display: none;
  }
  .team-header{
    flex-direction: column;
    & h2{
      width: 100%;
    }
    & div {
      width: 100%;
      margin-top: 7px;
    }
  }
  .team-persons{
    row-gap: 50px;
    flex-direction: column;
  }
}
