/* Верхнее меню */
/* под WP */
.top-header{
  width: 100%;
  min-height: 85px;
  background-color: rgb(255, 255, 255);
  &-top{
    padding: 9px 0 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logowrap {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-logo{
        width: 40%;
      }
      &-description{
        width: 60%;
        margin-left: 20px;
      }
    }
    &-communications{
      width: 70%;
      display: flex;
      column-gap: 55px;
      justify-content: flex-end;
      align-items: center;
      & a{
        text-decoration: none;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &-menu{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-gradient-1;
    border-radius: 5px;
  }
}

.mobile-logo{
  display: none;
}

// меню под WP
.main-header-menu{
  width: 60%;
}
.menu li {
  position: relative;
}
.menu-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu-list>li {
  &:hover .sub-menu{
    display: block;
  }
}
.menu-item a{
  //min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // настройки шрифта
  @extend .first-font;
  font-size: 0.875em; //14px
  font-weight: 600; //regular
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $menu-link;
  &:hover {
    color: $menu-link-hover;
    &::after {
      transform: translateY(2px) scale(1);
    }
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: $menu-link-hover;
    transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
}
.sub-menu{  
  padding-top: 20px !important;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 13px;
}
.sub-menu>li{
  margin: 0 0 0 0;
  padding: 15px 10px 16px 15px;
  background-color: $sub-menu-bg;
  backdrop-filter: blur(3px);
  &:hover{
    background-color: $sub-menu-link-hover;
  }
}
.sub-menu>li>a{
  min-width: 150px;
  margin-top: 0;
  justify-content: left;
  color: $sub-menu-link;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  line-height: 1em;
  text-transform: inherit;
  &:hover {
    color: $sub-menu-link;
  }
  &:after {
    content: none;
  }
}
// меню под WP END

// меню под WP END
// бургер
label,
#menu {
  display: none;
}