/* Верхнее меню */
/* под WP */
.top-header{
  width: 100%;
  min-height: 85px;
  background-color: grey;
  &-content{
    display: flex;
    justify-content: center;
    align-items: center;
    &-logocont {
      width: 142px;
      display: flex;
      justify-content: center;
    }
  }
}

.mobile-logo{
  display: none;
}

// меню под WP
.menu li {
  position: relative;
}
.menu-list{
  display: flex;
  list-style: none;
}
.menu-list>li {
  &:hover .sub-menu{
    display: block;
  }
}
.menu-item a{
  min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // настройки шрифта
  @extend .text-basic;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $menu-link;
  &:hover {
    color: $menu-link-hover;
    &::after {
      transform: translateY(2px) scale(1);
    }
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: $menu-link-hover;
    transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
}
.sub-menu{  
  padding-top: 20px !important;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 42px;
}
.sub-menu>li{
  margin: 0 0 0 0;
  padding: 15px 10px 16px 10px;
  background-color: $sub-menu-bg;
  backdrop-filter: blur(3px);
  &:hover{
    background-color: #a8b9b3a3;
  }
}
.sub-menu>li>a{
  margin-top: 0;
  color: $sub-menu-link;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  text-transform: lowercase;
  &:hover {
    color: $sub-menu-link;
  }
  &:after {
    content: none;
  }
}
// меню под WP END

// меню под WP END
// бургер
label,
#menu {
  display: none;
}