main{
  min-height: calc(100vh - 246px);
  background-image: url(../../img/ways-footer.svg);
  background-size: 76%;
  background-repeat: no-repeat;
  background-position: 100% 101%;
}

footer{
  background-color: $footer-bg;
}
.footer-cont{
  display: flex;
  justify-content: space-between;
  &-copyright{
    width: 30%;
    display: flex;
    column-gap: 8%;
    align-items: center;
  }
  &-contacts{
    width: 54%;
    margin-top: 10px;
    display: flex;
    column-gap: 2%;
    & div{
      width: 24%;
      display: flex;
      column-gap: 5%;
      & svg{
        width: 20%;
      }
      & p{
        width: 80%;
      }
    }
  }
}