.hidden{
  display: none;
}
.hidden-for-mobile{
  display: block;
}
.hidden-for-desctop{
  display: none;
}

.cover{
  height: 613px;
  //margin-bottom: 100px;
  //position: relative;
  background-image: url(../../img/cover.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;

  &-header{    
    display: flex;
    justify-content: center;
    &-wrap{
      width: 83.83%;
      height: 414px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title{
      margin-bottom: 45px;
    }
    &-subtitle{
      display: flex;
      & p:nth-child(1){
        width: 47%;
      }
      & p:nth-child(2){
        width: 50%;
      }
    }
  }

  &-footer{    
    margin-top: -21px;
    display: flex;
    justify-content: center;
    //position: absolute;
    //bottom: -38px;
    &-wrap{
      width: 83.83%;
      display: flex;
    }
  }
}
.benefit-cover{
  width: 30%;
  display: flex;
  align-items: flex-end;
}

.services-cards{
  width: 70%;
  display: flex;
  row-gap: 10px;
  column-gap: 1%;
  flex-wrap: wrap;
  &-card{
    width: 32.6666%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 5px;
    background-color: $services-card;
    &:hover{
      transform: scale(1.025);
      transition: ease-out 0.1s;
      cursor: pointer;
    }
  }
}

.team{
  background-image: url(../../img/ways-team.svg);
  background-size: 68%;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.team-header{
  width: 76%;
  margin-bottom: 59px;
  display: flex;
  
  & h2{
    width: 40%;
  }
  & div {
    width: 60%;
    margin-top: 10px;
  }
}

.team-persons-img-link{
  width: 100%;    
  
}
.team-persons-wrap-person-header-img:hover img{
  filter: grayscale(1) brightness(110%);
  transform: scale(1.025); 
  transition: all 0.8s ease-in-out;
}
.team-persons-wrap-person-header-img:hover svg{
  transform: translate(-5px,-5px) scale(-1.2, -1.2);
  transition: all 0s ease-in-out;
  right: -1px;
  bottom: -1px;
}

.team-persons{
  display: flex;
  position: relative;
  &-wrap{
    width: 75%;
    display: flex;
    column-gap: 3%;
    &-person{
      width: 31.3333%;
      &-header{
        min-height: 250px;  
        margin-bottom: 13px;    
        display: flex;
        justify-content: space-between;
        &-biz{
        width: 25px;
        position: relative;
          & p{  
          width: 275px;
          position: absolute;
          top: 132px;
          left: -130px;
          transform: rotate(270deg);
        }  
        }
        
        &-img{   
          height: 275px; 
          position: relative;
          overflow: hidden;
          & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
          };
          & svg{
          position: absolute;
          right: 0;
          bottom: 0px;
          
        }
        }
      }
    }
    &-person-footer{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & p:nth-child(1){
        width: 69%;
        margin-bottom: 9px;
      }
      & p:nth-child(2){
        padding-left: 10%;
      }
    }
  }
}

.team-persons-buttons{
  width: 25%;
  margin: 0 auto;
}

.benefit-team{
  position: absolute;
  bottom: 0px;
  right: 0;
  &-number{
    position: absolute;
    bottom: -36px;
    right: 44px;
  }
  &-subtitle{
    position: relative;
    padding-right: 24px;
    &:after{
      content: url(../../img/arrow-down.svg);
      position: absolute;
      width: 16px;
      bottom: 0;
      right: 0;
    }
  }
}
.benefit-news{
  position: absolute;
  bottom: 32px;
  left: -11px;
  &__number{
    position: relative;
    // bottom: -43px;
    // left: -5px;
  }
  &__subtitle{
    position: absolute;
    bottom: 54px;
    right: -17px;
    & p:nth-child(1){
      padding-right: 5px;
    }
    & p:nth-child(2){
      margin-bottom: 7px;
    }
  }
}
.news-wrap{
  position: relative;
  &-cols{
    display: flex;
    column-gap: 2%;
    justify-content: space-between;
  }
}
.news__title {
  width: 19%;
  & h2{
  position: relative;
  &::after{
    content: url(../../img/arrow-right-grey.svg);
      position: absolute;
      width: 50px;
      bottom: -30px;
      left: 133px;
  }
}
}
.news__block--page{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-items{
    margin-bottom: 89px;
    display: flex;
    column-gap: 2%;
  }
}
.news__block{
  width: 81%;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-items{
    margin-bottom: 60px;
    display: flex;
    column-gap: 2%;
    row-gap: 30px;
    flex-wrap: wrap;
  }
}
.news__item{
  display: block;
  width: 32%;
  text-decoration: none;
  cursor: pointer;
  &-img{
    height: 212px;
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1) brightness(100%); 
      transition: 1s;
      &:hover{
        filter: grayscale(1) brightness(120%);
        transform: scale(1.05);
        
      }
    }
    &__date{
      min-width: 115px;
      padding-top: 2px;
      padding-right: 10px;
      position: absolute; 
      bottom: -8px;
      background-color: white;
    }
  }
  &__footer{
    & p:nth-child(1){
      margin-bottom: 18px;
    }
  }
}
// пагинация
span.page-numbers.current{
  padding: 5px 7px 5px 7px;
  background-color: $icon-color-purple;
  border-radius: 5px;
  @extend .first-font;
  color: white;
}
a.page-numbers{
  padding: 5px 7px 5px 7px;
  background-color: #eaeaea;
  border-radius: 5px;
  @extend .first-font;
  color: $text-h1;
  text-decoration: none;
}
a.next.page-numbers{
  // display: inline-block;
  // width: 100px;
}