.services-type{
  &_wrap{
    display: flex;
    column-gap: 2%;
    &_item{
      width: 24%;
    }
  }
}

.reviews{
  &_wrap{
    width: 86%;
    margin: 0 auto;
    &_item{
      display: flex;
      & img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
}

.team-persons-right{
  display: flex;
  flex-direction: column;
}
@media (max-width : 768px){
  .team-persons-right{
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4%;
    &-wrap{
      width: 46%;
    }
  }
}
@media (max-width : 480px){
  .team-persons-right{
    flex-direction: column;
    row-gap: 4%;
    &-wrap{
      width: 100%;
    }
  }
}

.project{
  & h2{
    //text-align: right;
  }
  &_wrap{
    &_item{
      & p{
        //text-align: right;
      }
    }
  }
}