.cover-item-img{
  background-image: url(../../img/cover.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}

.cover-services-img{
  background-image: url(../../img/cover-services.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}

.cover-web-img{
  background-image: url(../../img/cover-case.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}

.cover-1c-img{
  background-image: url(../../img/cover-services.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}

.cover-buh-img{
  background-image: url(../../img/cover-services.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}

.cover-kassa-img{
  background-image: url(../../img/cover-services.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey;
}
.content-services-type{
  & h3{
    margin-bottom: 30px;
  }
}