.bg-light{
  background-color: rgba(255, 255, 255, 0) !important;
}

.top-header-menu2{
  //height: 60px;
  padding: 5px 0 5px 0;
  background: $bg-gradient-1;
  border-radius: 5px;
}

.navbar-brand{
  display: none;
}
.navbar-toggler{
  // width: 48px;
  padding: 0;
  line-height: 1.4;
  border: none;
  &:focus{
    box-shadow: none;
  }
}
.navbar-toggler-icon{
  background-image: none;
  color: white;
  font-size: 41px;
}
@media (max-width: 360px){
  .navbar-toggler{
    width: 48px;
  }
  .navbar-toggler-icon{  
  font-size: 34px;
  } 
}

@media (max-width: 992px){
  .navbar-brand{
    display: block;
  }
  .top-header-menu2{
    padding: 0 0 0 0;
  }

}

.navbar{
  padding: 3px 0 3px 0;
}