.page-project-content h2{
  margin-bottom: 20px;
}

.page-project-content_wrap{
  display: flex;
  column-gap: 2%;
  &_item{
    width: 49%;
  }
}

.v-slider-proc{
}

.v-slider-proc-main {
  height: auto;
  margin-bottom: 15px;
}

.big-wrapper{
  height: 50vh;  
}

.v-slider-proc-mini {  
  height: 70px;
  box-sizing: border-box;
  display: flex;
}

.v-slider-proc-mini .v-swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.v-slider-proc-mini .swiper-slide-thumb-active {
  opacity: 1;
}

.v-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width : 768px){
  .page-project-content_wrap{
    flex-direction: column;
    row-gap: 50px;
    &_item{
      width: 100%;
    }
  }
}

@media (max-width : 480px){
  .v-slider-proc{
    display: flex;
    flex-direction: column;
  }
  .v-slider-proc-main {
    width: 100%;
  }
  .v-slider-proc-mini {  
    width: 100%;
    height: 70px;
  }
}