.projects-all{
  & h2{
    margin-bottom: 40px;
  }
  &_item{
  //display: flex;
  margin-bottom: 40px;
  text-decoration: none;
  &_logo{
    width: 20%;
    margin-right: 20px;
    float: left;
    & img{
      &:hover{
        transform: scale(1.025);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  &_content{
    margin-bottom: 40px;
    & h4{
      margin-bottom: 10px;
    }
    &_brend{
      & span{
        margin-right: 20px;
      }
    }
    &_sector{
      & span{
        margin-right: 24px;
      }
    }
  }
}
}
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}

.page-project-content h2{
  margin-bottom: 20px;
}

// .page-project-content_wrap{
//   display: flex;
//   column-gap: 2%;
//   &_item{
//     width: 49%;
//   }
// }

.page-project-content_wrap_item_left{
  float: left;
  width: 49%;
  margin-right: 30px;
  margin-bottom: 50px;
}
@media (max-width: 768px){
  .page-project-content_wrap_item_left{
    width: 100%;

  }
}

.v-slider-proc-main {
  height: auto;
  margin-bottom: 15px;
}

.big-wrapper{
  height: 50vh;  
}

.v-slider-proc-mini {  
  height: 70px;
  box-sizing: border-box;
  display: flex;
}

.v-slider-proc-mini .v-swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.v-slider-proc-mini .swiper-slide-thumb-active {
  opacity: 1;
}

.v-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width : 768px){
  .page-project-content_wrap{
    flex-direction: column;
    row-gap: 50px;
    &_item{
      width: 100%;
    }
  }
}

@media (max-width : 480px){
  .v-slider-proc{
    display: flex;
    flex-direction: column;
  }
  .v-slider-proc-main {
    width: 100%;
  }
  .v-slider-proc-mini {  
    width: 100%;
    height: 70px;
  }
}

.project-btn{
  display: flex;
  justify-content: center;
  & a{
    width: 35vh;
  }
}
@media (max-width: 480px) {
  .project-btn{
    & a{
      width: 100vh;
    }
  }
}