// Слайдер клиентов
.swiper {
}
.swiper-slide{
  min-width: 0;
}
// 
.v-clients-slider{
  height: 65px;
  background: $bg-gradient-1;
}
.v-clents-wrapper{
  display: flex;
}
.v-clients-slide{
 display: flex;
 align-content: center;
 justify-content: center;
}
.v-clients-slide{
  & img{
    width: 50%;
  }
}
// 
.v2-clients-slider{
  height: 65px;
  background: $footer-bg;
}
.v2-clents-wrapper{
  display: flex;
}
.v2-clients-slide{
 display: flex;
 align-content: center;
 justify-content: center;
}
.v2-clients-slide{
  & img{
    width: 55%;
  }
}

// Cлайдер команды
.v-team-slider{
  width: 75%;
}
.swiper-button-prev{
  position: relative !important;
  // top: 12px;
  // left: 46%;
}
.swiper-button-next{
  position: relative !important;
  // top: -10px;
  // right: -55%;
}
.team-persons-button-wrap{
  margin-top: 14px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}