@media (max-width: 450px) {
  h1{
    font-size: 2em; //32
  }
}

@media (max-width: 360px) {
  .services-cards p{
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  h1{
    font-size: 1.6em; //32
  }
}

