@media (max-width : 360px) {
  // Карточки услуг
  .icon-1c{
    width: 112px;
    height: 50px;
    fill: $icon-color-white;
  }
  .icon-accounting{
    width: 82px;
    height: 76px;
    fill: $icon-color-white;
  }
  .icon-box-office{
    width: 82px;
    height: 76px;
    fill: $icon-color-white;
  }
  .icon-computer-service{
    width: 82px;
    height: 76px;
    fill: $icon-color-white;
  }
  .icon-creating-website{
    width: 82px;
    height: 76px;
    fill: $icon-color-white;
  }
  .icon-it-education{
    width: 82px;
    height: 76px;
    fill: $icon-color-white;
  }
}