.button{
  padding: 12px 40px 12px 45px;
  background-color: $footer-bg;
  border-radius: 5px;
  @extend .first-font;
  text-transform: uppercase;
  color: $text-h1;
  text-decoration: none;
  &:hover{
    background-color: $icon-color-purple;
    color: white;
  }
}


.swiper-button-next::after, .swiper-button-prev::after {
  content: none;
}

// 1 ********** кнопки слайдера команды
.slider-buttons1_wrap{  
  display: flex;
  justify-content: center;
  column-gap: 6px;
}
@media (max-width: 768px){
  .slider-buttons1_wrap{
    column-gap: 26px;
  }  
}
// ___END ********** кнопки слайдера кейса

// 2 ********** кнопки слайдера oтзывов
.slider-buttons2-wrap{
  position: absolute;
  right: 12%;
  bottom: -3px;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}
@media (max-width: 1600px){
  .slider-buttons2-wrap{
    right: 11%;
}
}
@media (max-width: 1280px){
  .slider-buttons2-wrap{
    right: 10%;
}
}
@media (max-width: 1024px){
  .slider-buttons2-wrap{
    right: 10%;
    bottom: -65px;
}
}
.slider-buttons2-wrap .icon-left-arrow-empty{
width: 40px;
height: 40px;
}

.slider-buttons2-wrap .icon-right-arrow-empty{
width: 40px;
height: 40px;
}
// ___END ********** кнопки слайдера кейса

// 3 ********** кнопки слайдера проектов
.slider-proc-main{
 position: relative;
}
.proc-buttons{
  // position: absolute;
  // top: 50%;
}
.slider-buttons3_wrap{
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
}
.slider-buttons3_wrap .icon-left-arrow-empty{
  width: 40px;
  height: 40px;
  &:hover{
    background-color: #7f7ffa8a;
  }
}
  
.slider-buttons3_wrap .icon-right-arrow-empty{
  width: 40px;
  height: 40px;
  &:hover{
    background-color: #7f7ffa8a;
  }
}
// ___END ********** кнопки слайдера проектов

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 2px;
    display: inline-block;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    &-active{
        width: 14px;
        height: 14px;
        margin: 2px;
        display: inline-block;
        border-radius: 50%;
        background-color: $icon-color-blue;
    }
}

