.icon-vk{
  width: 25px;
  height: 25px;
  fill: $icon-color-purple;
}
.icon-1c{
  width: 150px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-accounting{
  width: 100px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-box-office{
  width: 100px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-computer-service{
  width: 100px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-creating-website{
  width: 100px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-it-education{
  width: 100px;
  height: 100px;
  fill: $icon-color-white;
}
.icon-benefit-15{
  width: 165px;
  height: 165px;
  fill: $icon-color-blue;
}
