@media (max-width : 1280px) {
  // Карточки услуг
.icon-1c{
  width: 87px;
  height: 38px;
  fill: $icon-color-white;
}
.icon-accounting{
  width: 55px;
  height: 55px;
  fill: $icon-color-white;
}
.icon-box-office{
  width: 55px;
  height: 55px;
  fill: $icon-color-white;
}
.icon-computer-service{
  width: 55px;
  height: 55px;
  fill: $icon-color-white;
}
.icon-creating-website{
  width: 55px;
  height: 55px;
  fill: $icon-color-white;
}
.icon-it-education{
  width: 55px;
  height: 55px;
  fill: $icon-color-white;
}
}