@media (max-width: 1170px) {
  .top-header{
    &-top{
      &-logowrap {        
        width: 40%;
        &-logo{
          width: 40%;
        }
        &-description{
          width: 60%;
        }
      }
      &-communications{        
        width: 70%;
      }
    }
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 920px) {
  .top-header{
    &-top{
      &-logowrap {   
        &-logo{
          width: 30%;
        }
        &-description{
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .top-header{
    min-height: 60px;
    margin-top: -34px;
    &-top{
      display: none;
    }
    &-content{
      min-height: 60px;
      justify-content: space-between;
      &-logocont{
        display: none;
      }
    }
    &-menu{
      padding-left: 20px;
      padding-right: 15px;
      justify-content: space-between;
    }
  }
  
  .mobile-logo{
    display: block;
  }
  
  .top-header-content-title{
    display: block;
    margin: 0 auto;
    padding-left: 34px;
  }
  
  // меню под WP  
  .main-header-menu{
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
      .menu-list{
      width: 100%;
      padding: 20px;
      z-index: 9;
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 80px;
      background-color: $menu-mobile-bg;     
    }
    .menu-item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-item a{
      // width: 88%;
      margin-bottom: 1px;
      padding: 14px 40px;
      margin-top: 0;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      &:hover{
                   
      }
      &:after{
          top: 56px;
      } 
    }
  
    .menu-list > li:first-child > a{
      margin-top: 23px;
    }
    .menu-list > li:last-child > a{
      margin-bottom: 23px;
    }
    .sub-menu{
      width: 90%;
      padding-top: 0 !important;
      display: block;
      position: relative;
      top: 0;
      left: 0;
    }
    .sub-menu>li{
      padding: 0 0 0 0;
      background-color: $sub-menu-bg;
    }
    .sub-menu > li > a {
      justify-content: center;
      background-color: rgba(255, 255, 255, 0);
      margin: 0 auto;
      text-align: center;
  }
    
  // меню под WP END
  // бургер
    .main-header-menu-label {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0;
    }    
    .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp ul{
    height: auto;
    visibility: visible;
    }
    /* end */
  }