@media (max-width: 1204px) {
  .footer-cont{
    flex-direction: column;
    align-items: center;
    &-copyright{
      width: 50%;
      margin-bottom: 40px;
      column-gap: 2%;
      justify-content: flex-end;
      &-logo{
        width: 30%;
      }
      &-text{
        width: 50%;
      }
        
    }
    &-contacts{
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {

}