@media (max-width : 1436px) {
  .footer-cont{
    &-copyright{
      width: 30%;
    }
    &-contacts{
      width: 66%;
      & a, div{
        width: 24%;
        & svg{
          width: 20%;
        }
        & p{
          width: 80%;
        }
      }
    }
  }
}

@media (max-width : 1280px) {

}