@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%;
  background-color: #dadada; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 276px;
  margin-top: -276px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 4) */
.clr {
  height: 276px; }

@media (max-width: 1024px) {
  footer {
    height: 230px;
    margin-top: -230px;
    padding-top: 25px; }

  .clr {
    height: 230px; } }
@media (max-width: 768px) {
  footer {
    height: 305px;
    margin-top: -305px;
    padding-top: 35px; }

  .clr {
    height: 305px; } }
@media (max-width: 480px) {
  footer {
    height: 340px;
    margin-top: -340px;
    padding-top: 35px; }

  .clr {
    height: 340px; } }
@media (max-width: 360px) {
  footer {
    height: 468px;
    margin-top: -468px;
    padding-top: 105px; }

  .clr {
    height: 468px; } }
/* ширина + границы сетки */
.container-rows {
  width: 66.66%;
  margin: 0 auto;
  outline: 1px solid #d80ace;
  box-sizing: border-box; }

@media (max-width: 1600px) {
  .container-rows {
    width: 80%; } }
@media (max-width: 1280px) {
  .container-rows {
    width: 89.53%; } }
@media (max-width: 1024px) {
  .container-rows {
    width: 93.94%; } }
@media (max-width: 768px) {
  .container-rows {
    width: 92.7%; } }
@media (max-width: 480px) {
  .container-rows {
    width: 88.33%; } }
@media (max-width: 360px) {
  .container-rows {
    width: 89.44%; } }
/* 1) для верхнего меню */
.padding-block-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

@media (max-width: 768px) {
  .padding-block-header {
    justify-content: center; } }
/* 2) для обложки */
/* 3) для изображения*/
.padding-block-img {
  min-height: 200px;
  padding-top: 90px;
  padding-bottom: 90px; }

/* 4) для заголовка и текста*/
.padding-block-text {
  padding-top: 20px;
  padding-bottom: 20px; }

/* 5) для заголовка и изображения*/
.padding-block-textimg {
  min-height: 200px;
  padding-top: 70px;
  padding-bottom: 86px; }

.blockundermenu {
  height: 75px; }

.first-font, h1 {
  font-family: 'Bookman Old Style', 'Times New Roman', Times, serif; }

.second-font {
  font-family: 'Circe', Arial, Helvetica, sans-serif; }

/********************** h1 */
h1 {
  font-size: 4.375em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #1D1D1D; }

/* 2_desctop-от 1280 до 1600 */
/* 3_desctop-от 1024 до 1280 */
/* 4_tablet-от 768 до 1024 */
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  .top-header {
    min-height: 60px; }
    .top-header-content {
      min-height: 60px;
      justify-content: space-between; }
      .top-header-content-logocont {
        display: none; }

  .mobile-logo {
    display: block; }

  .top-header-content-title {
    display: block;
    margin: 0 auto;
    padding-left: 34px; }

  .menu-list {
    width: 100%;
    z-index: 9;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #f8f9f9; }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .menu-item a {
    padding: 23px 40px;
    margin-top: 0;
    font-weight: 600;
    color: red; }
    .menu-item a:hover {
      color: red; }
    .menu-item a:after {
      top: 56px;
      background: red; }

  .menu-list > li:first-child > a {
    padding-top: 40px; }

  .menu-list > li:last-child > a {
    padding-bottom: 40px; }

  .sub-menu {
    width: 90%;
    padding-top: 0 !important;
    display: block;
    position: relative;
    top: 0;
    left: 0; }

  .sub-menu > li {
    padding: 0 0 0 0;
    background-color: #a8b9b3a3; }

  .main-header-menu-label {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0px;
    top: 8px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0; }

  .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp ul {
    height: auto;
    visibility: visible; }

  /* end */ }
/* 6_mob-от 360 до 480*/
/* 7_mob-до 360*/
