@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%;
  background-color: #fcfcfc; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 276px;
  margin-top: -276px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 4) */
.clr {
  height: 276px; }

@media (max-width: 1024px) {
  footer {
    height: 230px;
    margin-top: -230px;
    padding-top: 25px; }

  .clr {
    height: 230px; } }
@media (max-width: 768px) {
  footer {
    height: 305px;
    margin-top: -305px;
    padding-top: 35px; }

  .clr {
    height: 305px; } }
@media (max-width: 480px) {
  footer {
    height: 340px;
    margin-top: -340px;
    padding-top: 35px; }

  .clr {
    height: 340px; } }
@media (max-width: 360px) {
  footer {
    height: 468px;
    margin-top: -468px;
    padding-top: 105px; }

  .clr {
    height: 468px; } }
/* ширина + границы сетки */
.container-rows {
  width: 72.91%;
  margin: 0 auto;
  outline: 1px solid #d80ace;
  box-sizing: border-box; }

.container-rows-1670 {
  width: 86.97%;
  margin: 0 auto;
  box-sizing: border-box; }

@media (max-width: 1600px) {
  .container-rows {
    width: 82,5%; } }
@media (max-width: 1280px) {
  .container-rows {
    width: 89.53%; } }
@media (max-width: 1024px) {
  .container-rows {
    width: 93.94%; } }
@media (max-width: 768px) {
  .container-rows {
    width: 92.7%; } }
@media (max-width: 480px) {
  .container-rows {
    width: 88.33%; } }
@media (max-width: 360px) {
  .container-rows {
    width: 89.44%; } }
/* 1) для верхнего меню */
.padding-block-header {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (max-width: 768px) {
  .padding-block-header {
    justify-content: center; } }
/* 2) для обложки */
/* 3) для изображения*/
.padding-block-img {
  min-height: 100px;
  padding-top: 90px;
  padding-bottom: 90px; }

/* 4) для заголовка и текста*/
.padding-block-text {
  padding-top: 40px;
  padding-bottom: 40px; }

/* 5) для заголовка и изображения*/
.padding-block-textimg {
  min-height: 100px;
  padding-top: 70px;
  padding-bottom: 86px; }

.padding-block-cover {
  padding-top: 20px; }

.blockundermenu {
  height: 75px; }

.first-font, h1, .cover-subtitle, h2, .block-subtitle, .text-basic, .menu-item a,
p, .services-cards p {
  font-family: 'Mont', Arial, Helvetica, sans-serif; }

.second-font {
  font-family: 'Circe', Arial, Helvetica, sans-serif; }

/********************** h1 */
h1 {
  font-size: 4.375em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #28468C; }

.cover-subtitle {
  font-size: 1.375em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  color: #181818; }

h2 {
  font-size: 2.375em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #767676; }

.block-subtitle {
  font-size: 1.0625em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  color: #888888; }

/*************** main text */
.text-basic, .menu-item a,
p {
  font-size: 1em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #9c05ca; }

.services-cards p {
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white; }

.icon-vk {
  width: 25px;
  height: 25px;
  fill: #8383B6; }

.icon-1c {
  width: 150px;
  height: 100px;
  fill: #ffffff; }

.icon-accounting {
  width: 100px;
  height: 100px;
  fill: #ffffff; }

.icon-box-office {
  width: 100px;
  height: 100px;
  fill: #ffffff; }

.icon-computer-service {
  width: 100px;
  height: 100px;
  fill: #ffffff; }

.icon-creating-website {
  width: 100px;
  height: 100px;
  fill: #ffffff; }

.icon-it-education {
  width: 100px;
  height: 100px;
  fill: #ffffff; }

.icon-benefit-15 {
  width: 165px;
  height: 165px;
  fill: #28468C; }

/* Верхнее меню */
/* под WP */
.top-header {
  width: 100%;
  min-height: 85px;
  background-color: white; }
  .top-header-top {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .top-header-top-logowrap {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .top-header-top-logowrap-description {
        margin-left: 20px; }
    .top-header-top-communications {
      width: 70%;
      display: flex;
      column-gap: 40px;
      justify-content: flex-end;
      align-items: center; }
  .top-header-menu {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89.97deg, #4469BF 0.04%, #8383B6 98.83%);
    border-radius: 5px; }

.mobile-logo {
  display: none; }

.main-header-menu {
  width: 70%; }

.menu li {
  position: relative; }

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none; }

.menu-list > li:hover .sub-menu {
  display: block; }

.menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff; }
  .menu-item a:hover {
    color: #ffffff; }
    .menu-item a:hover::after {
      transform: translateY(2px) scale(1); }
  .menu-item a:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: #ffffff;
    transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

.sub-menu {
  padding-top: 20px !important;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 42px; }

.sub-menu > li {
  margin: 0 0 0 0;
  padding: 15px 10px 16px 10px;
  background-color: #ffffff;
  backdrop-filter: blur(3px); }
  .sub-menu > li:hover {
    background-color: #ced9f1; }

.sub-menu > li > a {
  min-width: 250px;
  margin-top: 0;
  color: #134cd1;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  text-transform: lowercase; }
  .sub-menu > li > a:hover {
    color: #134cd1; }
  .sub-menu > li > a:after {
    content: none; }

label,
#menu {
  display: none; }

.cover {
  height: 757px;
  margin-bottom: 100px;
  position: relative;
  background-image: url(/img/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: grey; }
  .cover-header {
    display: flex;
    justify-content: center; }
    .cover-header-wrap {
      width: 83.83%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .cover-header-title {
      margin-bottom: 45px; }
    .cover-header-subtitle {
      display: flex; }
      .cover-header-subtitle p:nth-child(1) {
        width: 40%; }
      .cover-header-subtitle p:nth-child(2) {
        width: 55%; }
  .cover-footer {
    display: flex;
    justify-content: center;
    position: absolute; }
    .cover-footer-wrap {
      width: 83.83%;
      display: flex; }

.benefit-cover {
  width: 30%;
  display: flex;
  align-items: flex-end; }

.services-cards {
  width: 70%;
  display: flex;
  row-gap: 10px;
  column-gap: 1%;
  flex-wrap: wrap; }
  .services-cards-card {
    width: 32.6666%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(0, 42, 143, 0.67); }
    .services-cards-card:hover {
      transform: scale(1.025);
      transition: ease-out 0.1s; }

footer {
  background-color: #456497; }

.footer-cont {
  display: flex;
  justify-content: space-between; }

/* 2_desctop-от 1280 до 1600 */
/* 3_desctop-от 1024 до 1280 */
/* 4_tablet-от 768 до 1024 */
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  .top-header {
    min-height: 60px; }
    .top-header-content {
      min-height: 60px;
      justify-content: space-between; }
      .top-header-content-logocont {
        display: none; }

  .mobile-logo {
    display: block; }

  .top-header-content-title {
    display: block;
    margin: 0 auto;
    padding-left: 34px; }

  .menu-list {
    width: 100%;
    z-index: 9;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #dfeeb0; }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .menu-item a {
    padding: 23px 40px;
    margin-top: 0;
    font-weight: 600;
    color: #134cd1; }
    .menu-item a:hover {
      color: #134cd1; }
    .menu-item a:after {
      top: 56px;
      background: #134cd1; }

  .menu-list > li:first-child > a {
    padding-top: 40px; }

  .menu-list > li:last-child > a {
    padding-bottom: 40px; }

  .sub-menu {
    width: 90%;
    padding-top: 0 !important;
    display: block;
    position: relative;
    top: 0;
    left: 0; }

  .sub-menu > li {
    padding: 0 0 0 0;
    background-color: #ffffff; }

  .main-header-menu-label {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0; }

  .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp ul {
    height: auto;
    visibility: visible; }

  /* end */ }
/* 6_mob-от 360 до 480*/
/* 7_mob-до 360*/
