@media (max-width: 480px){
  .services-1c_type{
    &_wrap{
      &_item{
        width: 100%;
      }
    }
  }
  .products-1c_type_wrap_item_img {
    width: 20%;
}
  .form-1c_wrap {
    background-position: 302px 43px;
    background-size: 192px;
}
}
