@media (max-width: 660px) {
  .cover{
    &-footer{
      &-wrap{
        width: 96%;
      }
    }
  }

  .services-cards{
    &-card{
      width: 49%
    }
  }

}

@media (max-width: 527px){
  .news__item{
    width: 100%;
  }
}

@media (max-width: 480px){
  .team-persons-buttons{
    width: 44%;
  }
}
