.first-font {
  font-family: 'Bookman Old Style', 'Times New Roman', Times, serif;
}

.second-font {
  font-family: 'Circe', Arial, Helvetica, sans-serif;
}

/********************** h1 */
h1 {
  @extend .first-font;
  font-size: 4.375em; //70
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #1D1D1D;
}