$body-bg: #fcfcfc;
$footer-bg: #456497;

$menu-link: #32e080;
$menu-link-hover: #f7d934;
$menu-mobile-bg: #dfeeb0;
$sub-menu-bg: #a99f68;
$sub-menu-link: #a21575;

$text-h1: #8b7979;
$text-h2: #705555;
$text-basic-p: #1D1D1D;
