$body-bg: #fcfcfc;
$footer-bg: #DEDEDE;
$bg-gradient-1: linear-gradient(89.97deg, #4469BF 0.04%, #8383B6 98.83%);
$bg-reviews: #F1F4F8;

$menu-link: #ffffff;
$menu-link-hover: #ffffff;
$menu-mobile-bg: #ffffff;
$sub-menu-bg: #ffffff;
$sub-menu-link: #134cd1;
$sub-menu-link-hover: rgb(206, 217, 241);
$btn-case: #516EBD;

$text-h1: #28468C;
$cover-subtitle: #181818;
$cover-services-subtitle: #303030;

$text-h2: #767676;
$text-basic-p: #767676;
$services-cards-text: white;

$icon-color-white: #ffffff;
$icon-color-purple: #8383B6;
$icon-color-blue: #28468C;

$services-card: rgba(0, 42, 143, 0.67);
$services-card-hover: rgba(34, 76, 171, 0.67);

$benefit-color-1: rgba(92, 56, 146, 0.17);

