$body-bg: #fcfcfc;
$footer-bg: #456497;

$menu-link: #32e080;
$menu-link-hover: #f7d934;
$menu-mobile-bg: #dfeeb0;
$sub-menu-bg: #a99f68;
$sub-menu-link: #a21575;

$text-h1: #28468C;
$cover-subtitle: #181818;
$text-h2: #767676;
$block-subtitle: #888888;
$text-basic-p: #9c05ca;
